html,
body {
    height: 100%;
    margin: 0
}

#viewport {
    min-height: 100%;
    position: relative;
    width: 100%
}

#footer {
    bottom: 0;
    font-size: 10pt;
    height: 137px;
    position: fixed;
    z-index: 104;
    width: 100%
}

body,
td,
a,
p,
.h {
    font-family: arial, sans-serif
}

.ctr-p {
    margin: 0 auto;
    min-width: 980px
}

body {
    background: #fff;
    color: #222
}

a {
    color: #1a0dab;
    text-decoration: none
}

a:hover,
a:active {
    text-decoration: underline
}

a:visited {
    color: #609
}

#footer a {
    color: #5f6368;
    margin: 2px 10px 0
}

#footer a:active {
    color: #dd4b39
}

body,
html {
    font-size: small
}

h1,
ol,
ul,
li {
    margin: 0;
    padding: 0
}

#body,
#footer {
    display: block
}
